# Apache configuration file
# httpd.apache.org/docs/2.2/mod/quickreference.html

# Note .htaccess files are an overhead, this logic should be in your Apache config if possible

# ----------------------------------------------------------------------
# Expires header for manifest
# ----------------------------------------------------------------------
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType application/json          "access plus 0 seconds"
</IfModule>



