@import "jquery-ui-1.10.0.custom.min";
@import "bootstrap";
@import "bootstrap-responsive";


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe { display: block; position: absolute; top: 40px; z-index: 100; width: 100%; margin: 0; text-align: center; font-size: 0.9em; background: #FFFF07; color: black; padding: 1px; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Helper Classes */
.textcenter { text-align: center; }
.textleft { text-align: left; }
.textright { text-align: right; }
.main-row { padding-top: 15px; }
.transition {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}


/* Header */
.jumbotron {
    position: relative;
    padding: 60px 0 0;
    color: white;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6D3353));
    background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}
.jumbotron h1 { font-size: 40px; }
.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
}
.navbar .brand { display: none; }
.navbar-fixed-top { box-shadow: 0 3px 6px black; }
#searchbox { color: #555 !important;}

/* map elements */
#map {
    height: 480px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    border-radius: 6px 6px 0 0;
}
#map-area { position: relative;}
#opacity_slider {  height: 200px; }
.ui-slider-inner-label { text-shadow: 0 0 4px white; font-weight: bold; }
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: right;
    margin: 0 0 0 100px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    margin-left: 10px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    background: rgba(255,255,255,0.9);
}

/* measure details area */
.overview { margin-bottom: 15px; font-size: 0.9em;}
.popover-trigger { text-decoration: none; border-bottom: 1px dashed; font-weight: bold; }
.popover-trigger:hover { text-decoration: none; }
.measure-details {
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 8px 16px -8px #222;
    margin-top: 20px;
}
.measure-details p { padding: 5px; font-size: 0.9em;}
.measure-info-header {
    border-bottom: 1px solid #EEE;
    background-color: whiteSmoke;
    padding: 1px 5px;
}
.measure-right { margin-top: 0; border-radius: 0 0 6px 6px; border-top: none;}
#selectedNeighborhood { line-height: 20px; }
.measureText { font-size: 1.4em; font-weight: bold; }
.measure-details h5 { margin: 0; padding: 0; }
.chart { margin-bottom: 20px; height: 150px;}

/* report dialog */
#report_metrics { height: 200px; }

/* Sidebar */
.sidenav {
    padding: 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 8px 16px -8px #222;
}
.sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 9px 14px;
    border: 1px solid #E5E5E5;
}
.sidenav > li:last-child > a { border-radius: 0 0 6px 6px; }
.sidenav > li:first-child > a { border-radius: 6px 6px 0 0; }
.sidenav .icon-chevron-down {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.sidenav .icon-chevron-right {
    float: left;
    margin-top: 2px;
    margin-left: -25px;
    opacity: 0;
}
.sidenav .icon-active { opacity: 0.45; }
.sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidenav .accordion-group {
    margin-bottom: 0;
    border-radius: 0;
}
.metrics-dropdown ul {
    padding: 3px 10px 10px 16px;
    margin: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 0.9em;
    box-shadow: inset 0 8px 8px -6px  #000000;
    background: whitesmoke;
    list-style: none;
}
.sidenav ul a {
    padding-left: 10px;
    text-indent: -10px;
    display: block;
}



/* jquery ui tweaks */
.ui-autocomplete .ui-menu-item { padding-left: 10px }
.ui-autocomplete { overflow: auto; overflow-y: auto; overflow-x: hidden; font-size: 0.9em; font-weight: normal; max-height: 400px; box-shadow: 2px 2px 4px #666;}
.ui-autocomplete-category { font-weight: bold; padding: 0 4px; line-height: 1.5; font-variant: small-caps; font-size: 14px; }

/* tweaks to responsive design behavior */
@media (max-width: 979px) {
    .navbar-fixed-top { margin-bottom: 0; }
    .jumbotron { padding: 20px 0 5px; }
    .popover-trigger { text-decoration: none; border-bottom: none; font-weight: normal; }
}
@media (max-width: 767px) {
    body { padding: 0; }
    .overview { padding-top: 20px;}
    .navbar, .container { padding-left: 10px; padding-right: 10px; }
    .navbar .brand { display: block; padding-left: 20px; }
    .jumbotron { display: none; }
    .modal.fade.in { top: 10px; } /* fix for modals on phones */
    .sidenav { display: none; }
    .overview { display: none; }
}


/* Print Handling */
@media print {
    .sidenav, #opacity_slider, .btn-navbar { display: none !important; }
    .measure-details, #map { box-shadow: none;  }
    #map { border: 2px solid #666;  }
    #map-area { max-width: 450px; float: left;}
}
