// imports
@import "bootstrap.less";
@import "slider.less";
@import "leaflet.less";

@body-color: rgb(249, 249, 249);

/* OldIE Prompt */
.oldie {
    width: 100%;
    margin: 0;
    font-size: 0.9em;
    padding: 1px;
    a {
        text-decoration: underline;
    }
}


svg {
    //border: 1px dashed black;
}

// h1, h2, h3, p, div {
//     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// }

body {
    background: @body-color;
}

.row-topmargin {
    margin-top: 25px;
}

.meta-container {
    margin-top: 80px;
}
.meta-resources ul {
    list-style: none;
    padding-left: 0;
}

.map-container {
    height: 550px;
}
.map-blend {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //box-shadow: inset 0 0 15px @body-color;
    background: url(../images/map-blend.png);
    background-size: 100% 100%;
    pointer-events: none;
}
#map {
    height: 100%;
}


.leaflet-container {
    background: rgba(0,0,0,0);
}

#barChart {

    margin-top: 100px;
}
.slider-horizontal {
    margin-left: 10px;
}
.time-year {
    padding-left: 50px;
}

.container-content {
    margin-top: 30px;
}

.form-metric {
    font-weight: bold;
}


.neighborhoods path {
    stroke: #949494;
    stroke-width: 0.3px;
    transition: all 0.5s ease-out;
    //opacity: 0.9;
}


.d3-highlight {
    stroke: #F1BE2F !important;
    stroke-width: 2.5px !important;
}


.mean-line {
    stroke-dasharray: 3,3;
}
.mean-text {
    text-anchor: middle;
    //text-decoration: underline;
    font-size: 0.9em;
    stroke-width: 0.5px;
}
.mean-county {
    fill: rgb(130,130,130);
    stroke: rgb(130,130,130);
    pointer-events: none;
}
.mean-hover {
    fill: rgb(8,81,156);
    stroke: rgb(8,81,156);
}

.background {
  fill: none;
  pointer-events: all;
}

.qnull { fill: rgba(0,0,0,0); }
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1;
}
.axis text {
    font-size: 10px;
}

rect.bar {
    transition: all 0.2s ease-out;
}
rect.bar.q0-9 {
    stroke-width: 0.2px;
    stroke: #949494;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


// repsonsive design
@media (max-width: 979px) {

}

//  printing
@media print {

}
