<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <!-- Set the title here -->
    <title>Summary Report - Quality of Life Explorer</title>

    <!-- metadata -->
    <meta name="description" content="Quality of Life Dashboard.">
    <meta name="keywords" content="GIS,Mecklenburg County,parks,libraries,schools,environment,impervious surface,floodplain,zoning,assessment,tax,photos,government">
    <meta name="author" content="Tobin Bradley">

    <!-- turn off robots during dev -->
    <meta name="robots" value="none">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/report.css?foo=50307">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />

    <!-- iOS/Android icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="144x144" href="images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-precomposed.png">

</head>

<body>
    <!--[if lt IE 9]>
        <p class="oldie alert-info text-center">You are using an outdated browser. <a href="http://whatbrowser.org/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <div class="container">

        <!-- Front page -->
        <div class="page page-front">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero">
                        <h1>Quality of Life Explorer</h1>
                        <input type="text" class="form-control input-lg subtitle" placeholder="optional subtitle - type here" value="Summary Report" maxlength=40>
                        <h4 class="neighborhoods">&nbsp;</h4>
                    </div>
                    <img class="logo-image" src="images/report-logo.png">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        The <a href="http://mcmap.org/qol/">Quality of Life Explorer</a> is an interactive online tool to help neighborhoods, government leaders and staff, businesses, community organizations, new residents and others learn more about our county and the diverse neighborhoods within it.  The Explorer features over 80 variables that reflect you, the places you live and work, and collectively, our community.
                    </p>
                    <p>
                        On these pages, you’ll find information about the selected area’s social, housing, economic and environmental conditions.  Check out the Explorer online to learn more about what’s happening, see trends over time, and connect to resources to take action on the issues that matter to you.
                    </p>
                    <p>
                        Learn More.  Take Action.  Create Change.
                    </p>
                </div>
                <div class="col-xs-6 text-right">
                    <div id="map" class="pull-right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <table class="metric-box">
                        <tbody>
                            <tr>
                                <td>
                                    <h2>Character</h2>
                                    <h3 data-metric="r47">&nbsp;</h3>
                                    <h4>population</h4>
                                </td>
                                <td>
                                    <h2>Education</h2>
                                    <h3 data-metric="m20">&nbsp;</h3>
                                    <h4>bachelor's degree</h4>
                                </td>
                                <td>
                                    <h2>Economy</h2>
                                    <h3 data-metric="m37">&nbsp;</h3>
                                    <h4>household income</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>Engagement</h2>
                                    <h3 data-metric="m48">&nbsp;</h3>
                                    <h4>voter participation</h4>
                                </td>
                                <td>
                                    <h2>Transportation</h2>
                                    <h3 data-metric="m70">&nbsp;</h3>
                                    <h4>streets with sidewalks</h4>
                                </td>
                                <td>
                                    <h2>Housing</h2>
                                    <h3 data-metric="r5">&nbsp;</h3>
                                    <h4>house units</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>Safety</h2>
                                    <h3 data-metric="m59">&nbsp;</h3>
                                    <h4>property crime</h4>
                                </td>
                                <td>
                                    <h2>Environment</h2>
                                    <h3 data-metric="m3">&nbsp;</h3>
                                    <h4>tree canopy</h4>
                                </td>
                                <td>
                                    <h2>Health</h2>
                                    <h3 data-metric="m45">&nbsp;</h3>
                                    <h4>grocery store proximity</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Character -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Character</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-1 text-center vis vis-horizontal">
                    <h4>Selected - Race</h4>
                    <canvas id="chart-character-1" class="chart-doughnut" data-selector="selected-val" data-chart="m16,m15,m18,m17,m14" width="150" height="150"></canvas>

                </div>
                <div class="col-xs-4 text-center vis vis-vertical">
                    <h4>County - Race</h4>
                    <canvas id="chart-character-2" class="chart-doughnut" data-selector="county-val" data-chart="m16,m15,m18,m17,m14" width="150" height="150"></canvas>
                </div>
                <div class="col-xs-4 text-center vis vis-vertical">
                    <div id="chart-character-2-legend" class="text-center" style="margin-top: 60px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-character">
                      <thead>
                        <tr>
                          <th>Variable</th>
                          <th class="text-right report-column-selected">Selected</th>
                          <th class="text-right report-column-county">County</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Economics -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Economy</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Household Income</h4>
                    <canvas id="chart-economics-1" class="chart-bar" data-chart="m37" data-labels="Household Income in Dollars" width="550" height="180"></canvas>
                    <div id="chart-econcomics-1-legend" class="text-center"><span class="title" style="border-color:rgba(151,187,205,0.8)">NPA</span><span class="title" style="border-color:rgba(220,220,220,0.8)">County</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-economy">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Education</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Education Level</h4>
                    <canvas id="chart-education-1" class="chart-bar" data-chart="m39,m20" data-labels="High School Diploma,Bachelor's Degree" width="550" height="180"></canvas>
                    <div id="chart-education-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-education">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Engagement -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Engagement</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Voter Participation</h4>
                    <canvas id="chart-engagement-1" class="chart-line" data-chart="m48" width="550" height="220"></canvas>
                    <div id="chart-engagement-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-engagement">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Environment -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Environment</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center vis vis-horizontal">
                <h4>Residential Water Consumption</h4>
                <canvas id="chart-environment-1" class="chart-line" data-chart="m27" width="550" height="220"></canvas>
                <div id="chart-environment-1-legend" class="text-center"></div>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-environment">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Health -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Health</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                <h4>Proximity to a Grocery Store</h4>
                <canvas id="chart-health-1" class="chart-line" data-chart="m45" width="550" height="200"></canvas>
                <div id="chart-health-1-legend" class="text-center"></div>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-health">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Housing -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Housing</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center vis vis-horizontal">
                <h4>Housing Density</h4>
                <canvas id="chart-housing-1" class="chart-line" data-chart="m5" width="550" height="200"></canvas>
                <div id="chart-housing-1-legend" class="text-center"></div>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-housing">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Safety -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Safety</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <!-- <h4>Crime/Incident Rate per 100,000</h4>
                    <canvas id="chart-safety-1" class="chart-bar" data-chart="m27,m26,m25" data-labels="Juvenile,Property,Violent" width="600" height="250"></canvas>
                    <div id="chart-safety-1-legend" class="text-center"></div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-safety">
                      <thead>
                        <tr>
                            <th>Variable</th>
                            <th class="text-right report-column-selected">Selected</th>
                            <th class="text-right report-column-county">County</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Transportation -->
        <div class="page page-category">
          <div class="row">
            <div class="col-xs-6 text-left">
              <h1>Transportation</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center vis vis-horizontal">
              <h4></h4>
              <canvas id="chart-transportation-1" class="chart-bar" data-chart="m33,m36" data-labels="Long Commute,Proximity to Public Transportation" width="600" height="250"></canvas>
              <div id="chart-transportation-1-legend" class="text-center"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <table class="table table-transportation">
                <thead>
                  <tr>
                      <th>Variable</th>
                      <th class="text-right report-column-selected">Selected</th>
                      <th class="text-right report-column-county">County</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>

    </div>

    <!-- Underscore row template -->
    <script type="text/template" class="template-row">
      <tr data-metric="<%= rc.id %>">
          <!-- Name (year) -->
          <td class='text-left label-<%= rc.id %>' data-val="<%= metricConfig[rc.id].title %>">
              <a target="_blank" href="http://mcmap.org/qol/?m=<%= rc.id %>&n=<%= theFilter.join(',') %>"><%= metricConfig[rc.id].title %></a>
            (<%= rc.year %>)
          </td>
          <!-- Selected Value -->
          <td class='text-right data-<%= rc.id %> report-column-selected' data-selected-val="<%= rc.selectedVal %>" data-county-val="<%= rc.countyVal %>">
              <%= dataPretty(rc.selectedVal, rc.id).trim() %><% if (metricConfig[rc.id].summable && metricIsRaw.indexOf(rc.id) === -1) { %><br><%= dataPretty(rc.selectedRaw, null) %>
              <% } %>
          </td>
          <!-- County Value -->
          <td class='text-right report-column-county'>
              <%= dataPretty(rc.countyVal, rc.id) %><% if (metricConfig[rc.id].summable && metricIsRaw.indexOf(rc.id) === -1) { %><br> <%= dataPretty(rc.countyRaw, null) %>
              <% } %>
          </td>
          <!-- Units -->
          <td class='text-left report-units'>
              <%= metricConfig[rc.id].label %>
              <% if (metricConfig[rc.id].summable && metricIsRaw.indexOf(rc.id) === -1) { %>
                  <br><%= metricConfig[rc.id].raw_label %>
              <% } %>
          </td>
      </tr>
    </script>


    <!-- scripts at the bottom yo -->
    <script src="js/report.js?foo=50307"></script>

    <!--   Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48797957-1', 'mcmap.org');
      ga('send', 'pageview');
    </script>

</body>

</html>
