<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <!-- Set the title here -->
    <title>Quality of Life Dashboard</title>

    <!-- metadata -->
    <meta name="description" content="Quality of Life Dashboard.">
    <meta name="keywords" content="GIS,Mecklenburg County,parks,libraries,schools,environment,impervious surface,floodplain,zoning,assessment,tax,photos,government">
    <meta name="author" content="Tobin Bradley">

    <!-- turn off robots during dev -->
    <meta name="robots" value="none">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/report.css?foo=56150">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />

    <!-- iOS/Android icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="144x144" href="images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-precomposed.png">

</head>

<body>
    <!--[if lt IE 9]>
        <p class="oldie alert-info text-center">You are using an outdated browser. <a href="http://whatbrowser.org/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <div class="container">

        <!-- Front page -->
        <div class="page page-front">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero">
                        <h1>Quality of Life Study</h1>
                        <input type="text" class="form-control input-lg subtitle" placeholder="optional subtitle - type here" value="Summary Report" maxlength=40>
                        <h4 class="neighborhoods">&nbsp;</h4>
                    </div>
                    <img class="logo-image" src="images/report-logo.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        Vivamus pulvinar augue in velit vehicula imperdiet. Quisque convallis dignissim nisl, ut consectetur erat adipiscing et. Donec a quam a elit fermentum semper. Donec ultricies enim non justo interdum dictum. Nulla aliquam suscipit tincidunt. Cras cursus mi sed massa pulvinar, et dictum tortor ornare. Etiam urna ante, iaculis quis tellus eget, mattis rhoncus metus.
                    </p>
                    <p>
                        Vivamus pulvinar augue in velit vehicula imperdiet. Quisque convallis dignissim nisl, ut consectetur erat adipiscing et. Donec a quam a elit fermentum semper. Donec ultricies enim non justo interdum dictum. Nulla aliquam suscipit tincidunt. Cras cursus mi sed massa pulvinar, et dictum tortor ornare. Etiam urna ante, iaculis quis tellus eget, mattis rhoncus metus.
                    </p>
                </div>
                <div class="col-xs-6 text-right">
                    <div id="map" class="pull-right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <table class="metric-box">
                        <tbody>
                            <tr>
                                <td>
                                    <h2>Character</h2>
                                    <h3 data-metric="m1">&nbsp;</h3>
                                    <h4>people</h4>
                                </td>
                                <td>
                                    <h2>Economy</h2>
                                    <h3 data-metric="m17">&nbsp;</h3>
                                    <h4>median household income</h4>
                                </td>
                                <td>
                                    <h2>Education</h2>
                                    <h3 data-metric="m31">&nbsp;</h3>
                                    <h4>school age programs</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>Engagement</h2>
                                    <h3 data-metric="m15">&nbsp;</h3>
                                    <h4>neighborhood organizations</h4>
                                </td>
                                <td>
                                    <h2>Environment</h2>
                                    <h3 data-metric="m81">&nbsp;</h3>
                                    <h4>electricity consumption</h4>
                                </td>
                                <td>
                                    <h2>Health</h2>
                                    <h3 data-metric="m48">&nbsp;</h3>
                                    <h4>proximity to grocery store</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>Housing</h2>
                                    <h3 data-metric="m57">&nbsp;</h3>
                                    <h4>average property value</h4>
                                </td>
                                <td>
                                    <h2>Safety</h2>
                                    <h3 data-metric="m26">&nbsp;</h3>
                                    <h4>property crime rate</h4>
                                </td>
                                <td>
                                    <h2>Transportation</h2>
                                    <h3 data-metric="m70">&nbsp;</h3>
                                    <h4>bicycle friendliness</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Character -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Character</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 vis vis-vertical">
                    <h4>Race</h4>
                    <canvas id="chart-character-1" class="chart-doughnut" data-chart="m16,m15,m18,m17,m14" width="150" height="150"></canvas>
                    <div id="chart-character-1-legend"></div>
                </div>
                <div class="col-xs-9">
                    <table class="table table-character">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>


        <!-- Economics -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Economy</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie.
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Median Household Income in Dollars</h4>
                    <canvas id="chart-economics-1" class="chart-line" data-chart="m17" width="550" height="200"></canvas>
                    <div id="chart-economics-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-economy">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Education</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Percentage of CMS Students Proficient in EOG Tests</h4>
                    <canvas id="chart-education-1" class="chart-bar" data-chart="m32,m33,m34" data-labels="3-5 Grade,6-8 Grade,9-12 Grade" width="550" height="180"></canvas>
                    <div id="chart-education-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-education">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- Engagement -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Engagement</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Percentage Registered Voters</h4>
                    <canvas id="chart-engagement-1" class="chart-line" data-chart="m13" width="550" height="220"></canvas>
                    <div id="chart-engagement-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-engagement">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- Environment -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Environment</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie.
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 vis vis-horizontal">
                    <h4>Residential Electricity Consumption (kilowatts)</h4>
                    <canvas id="chart-environment-1" class="chart-line" data-chart="m81" width="150" height="150"></canvas>

                    <h4>Residential Recycling Participation Rate</h4>
                    <canvas id="chart-environment-2" class="chart-line" data-chart="m78" width="150" height="150"></canvas>
                    <div id="chart-environment-2-legend"></div>
                </div>
                <div class="col-xs-9">
                    <table class="table table-condensed table-environment">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- Health -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Health</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Residents within &#189; Mile of Health Related Places</h4>
                    <canvas id="chart-health-1" class="chart-bar" data-chart="m48,m50,m47,m49" data-labels="Grocery,Pharmacy,Medicaid/Free Clinic,Outdoor Recreation" width="650" height="180"></canvas>
                    <div id="chart-health-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-health">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- Housing -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Housing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 vis vis-horizontal">
                    <h4>Median Gross Rent (Dollars)</h4>
                    <canvas id="chart-housing-1" class="chart-line" data-chart="m63" width="150" height="150"></canvas>

                    <h4>New Residential Building Permits</h4>
                    <canvas id="chart-housing-2" class="chart-line" data-chart="m55" width="150" height="150"></canvas>
                    <div id="chart-housing-2-legend"></div>
                </div>
                <div class="col-xs-9">
                    <table class="table table-condensed table-housing">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- Safety -->
        <div class="page page-category">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1>Safety</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
                <div class="col-xs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna id mi feugiat placerat. Ut in massa id massa elementum hendrerit. Maecenas a erat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend lorem in tortor facilisis, vel ultricies purus molestie. Sed pharetra, magna vitae posuere sodales, orci dolor iaculis justo, id dignissim purus magna nec nunc. Integer posuere facilisis metus, hendrerit tincidunt lacus lobortis eget
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center vis vis-horizontal">
                    <h4>Crime/Incident Rate per 100,000</h4>
                    <canvas id="chart-safety-1" class="chart-bar" data-chart="m27,m26,m25" data-labels="Juvenile,Property,Violent" width="600" height="250"></canvas>
                    <div id="chart-safety-1-legend" class="text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-safety">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Underscore row template -->
    <script type="text/template" class="template-row">
        <tbody>
          <tr data-metric="<%= rc.id %>">
              <!-- Name (year) -->
              <th class='text-left label-<%= rc.id %>' data-val="<%= rc.label %>"><%= rc.name %></th>
              <!-- Value -->
              <td class='text-right data-<%= rc.id %>' data-val="<%= rc.val %>"><%= dataPretty(rc.val, rc.id) %></td>
              <!-- Units -->
              <td class='text-left'><%= rc.units %></td>
              <!-- Change -->
              <td class='text-right'><%= rc.change %></td>
          </tr>
        </tbody>
    </script>


    <!-- scripts at the bottom yo -->
    <script src="js/report.js?foo=56150"></script>

    <!--   Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48797957-1', 'mcmap.org');
      ga('send', 'pageview');
    </script>

</body>

</html>
