@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/leaflet/dist/leaflet.css';
@import '../../node_modules/leaflet-label/dist/leaflet.label.css';

h1,
h2,
h3 {
  font-weight: bold;
}
body {
  background: #ccc;
}
.leaflet-label {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 4px #ccc;
  color: #666;
}
.leaflet-label-right::before,
.leaflet-label-left::after {
  content: none;
}
.leaflet-label-right {
  right: 0;
}
#smallmap {
  width: 320px;
  height: 300px;
  background: rgba(0, 0, 0, 0);
}
#largemap {
  margin: 0 auto;
  width: 670px;
  height: 900px;
  background: rgba(0, 0, 0, 0);
}
.page {
  max-width: 768px;
  min-width: 687px;
  margin: 20px auto;
  padding: 10px;
  min-height: 842px;
  background: white;
  box-shadow: 0 0 3px #666, 0 15px 12px -10px #666;
  page-break-after: always;
}
.page:last-of-type {
  page-break-after: avoid;
}
.page .row {
  padding-top: 15px;
}
.page .row:first-of-type {
  padding-top: 0;
}
.page-front .subtitle {
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-bottom: 1px dashed #ccc;
  box-shadow: none;
  padding: 8px 2px 2px;
  text-shadow: 1px 1px 1px #ccc;
  background: none;
  height: 38px;
}
.page-front .logo-image {
  width: 408px;
}
.page-front .hero {
  height: 120px;
}
.page-front .subhero {
  position: absolute;
  top: 55px;
  left: 105px;
  right: 20px;
}
.page-front h1 {
  font-size: 2.8em;
  text-shadow: 1px 1px 1px #ccc;
  margin: 10px 0 0;
}
.page-front h4 {
  margin-top: 5px;
  font-size: 1em;
}
.page-front .metric-box {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}
.page-front .metric-box td {
  border: 2px solid #dddddd;
}
.page-front .metric-box td h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}
.page-front .metric-box td h3 {
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #ccc;
}
.page-front .metric-box td h4 {
  font-size: 0.9em;
}
.page-category h1 {
  margin: 0;
  text-shadow: 1px 1px 1px #ccc;
}
.page-category .table {
  margin-top: 30px;
}
.page-category .table td {
  white-space: nowrap;
  font-size: 0.9em;
}
.page-category .table td:first-of-type {
  white-space: normal;
}
.page-category .report-column-selected {
  background: #dce6f0;
}
.page-category .report-column-county {
  background: #ecf0df;
}
.vis {
  font-family: sans-serif;
}
.vis h4 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}
.vis .title {
  display: block;
  margin: 0.5em;
  border-style: solid;
  border-width: 0 0 0 1em;
  padding: 0 0.3em;
  font-size: 0.8em;
}
.vis.vis-horizontal .title {
  display: inline-block;
}
@media print {
  .page {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  .subtitle {
    outline: 0 !important;
    border: 0px solid !important;
  }
  table a[href]:after {
    content: none;
  }
}
