<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Lexington Housing Dashboard">
    <meta name="keywords" content="Lexington,Fayette County,housing,foreclosures,code enforcement,nuisance,permits,building permits,property value,government,LFUCG,tax,Kentucky">
    <meta name="author" content="Code for America">

    <!-- Set the title here -->
    <title>Lexington Housing Dashboard</title>

    <!-- turn off robots during dev -->
    <meta name="robots" value="none">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png" />

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css?foo=68026">
</head>

<body>
    <!--[if lt IE 9]>
        <p class="oldie alert-info text-center">You are using an outdated browser. <a href="http://whatbrowser.org/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->
    <div role="navigation">
        <div class="brand-icon">
            <a href="#"></a>
        </div>
        <ul id="js-category" class="nav nav-pills nav-stacked">
            <li data-category="ce-housing"><a>Housing Code Complaints</a></li>
            <li data-category="ce-nuisance"><a>Nuisance Complaints</a></li>
            <li data-category="buildingpermits"><a>Building Permits</a></li>
            <li data-category="foreclosures"><a>Foreclosures</a></li>
            <li data-category="avgpropertyvaluefaircash"><a>Property Values</a></li>
        </ul>
        <!-- <div class="container"> -->
            <!-- Brand and toggle get grouped for better mobile display -->
<!--             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="./">
                    <strong>Lexington Quality of Life Dashboard</strong>
                </a>
            </div> -->
            <!-- Collect the nav links, forms, and other content for toggling -->
<!--             <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                       <a href="javascript:void(0)">Download Data</a>
                   </li>
                   <li class="dropdown">
                       <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Contact <b class="caret"></b></a>
                       <div class="dropdown-menu contact">
                           <form action="" method="post" accept-charset="UTF-8">
                               <input id="email" class="form-control" type="email" name="email" size="30" placeholder="Email Address (optional)" />
                               <textarea id="message" class="form-control" rows="3" placeholder="Message"></textarea>
                               <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Send" />
                           </form>
                       </div>
                   </li>
                   <li>
                       <a href="javascript:void(0)" class="btn-help">Help</a>
                   </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
    </div>


    <div class="container">
        <div class="row row-vis">
            <div class="col-md-8">
                <h1>Lexington Housing Dashboard</h1>
                <h2>Explore neighborhood housing trends in your city</h2>
            </div>
            <div class="col-md-4">
                <a id="about-link" class="btn btn-primary btn-lg pull-right" href="about.html" role="button">About the Project</a>
            </div>
            <div class="col-md-8 map-container">
                <div id="metric-container" style="max-height:0">
                <!--
                    This is where you list all of the variables you want to see
                    in the dropdown list. You don't have to list everything here.
                    For example, you might want to not explicitly show raw numbers
                    or accuracy information.

                    Note this is in a seemingly useless div because if it doesn't
                    have a container with a height the map repositions after the
                    chosen control shows up on page load, consequently pissing me
                    off.
                 -->
                    <select id="metric" data-placeholder="SEARCH VARIABLES" class="form-control input-lg form-metric chosen-select hide">
                        <optgroup label="Housing">
                            <option value="ce-housing">
                                Code Enforcement Cases - Housing
                            </option>
                            <option value="ce-nuisance">
                                Code Enforcement Cases - Nuisance
                            </option>
                            <option value="buildingpermits">
                                Building Permits
                            </option>
                            <option value="foreclosures">
                                Foreclosures
                            </option>
                            <option value="avgpropertyvaluefaircash">
                                Property Value
                            </option>
                        </optgroup>

                    </select>
                </div>
                <div id="map"></div>
                <div class="btn-group pull-right datatoggle">
                    <button type="button" class="btn btn-default btn-sm toggle-map">Hide Map</button>
                    <button type="button" class="btn btn-default btn-sm select-clear">Clear Selected</button>
                </div>
            </div>
            <div class="col-md-4 map-aside">
                <div class="stats">
                    <div class="row text-center">
                        <div class="col-md-6 col-md-offset-0 col-xs-4 col-xs-offset-1 stats-npa-mean">
                            <h3 class="stats-county-npa-mean">&nbsp;</h3>
                            <span class="header">Lexington</span>
                            <span class="footer" style="border-bottom: 2px dashed black;">Precinct Average</span>
                            <br>
                            <span class="stats-median stats-county-npa-median">&nbsp;</span>
                        </div>
                        <div class="col-md-6 col-md-offset-0 col-xs-4 col-xs-offset-2">
                            <h3 class="stats-selected stats-mean-selected">N/A</h3>
                            <span class="header">Selected</span>
                            <span class="footer">Precinct Average</span>
                        </div>
                    </div>
                </div>
                <div id="barChart">
                    <svg width="100%" height="100%" class="chart barchart">
                        <g class="barchart-container">
                            <g class="bar-container"></g>
                            <g class="value-mean">
                                <line></line>
                                <text class="mean-text"></text>
                            </g>
                            <g class="value-select"></g>
                            <g class="value-hover"></g>
                            <g class="x axis"></g>
                            <g class="y axis">
                                <text transform="rotate(-90)" y="6" dy=".71em" style="text-anchor: end; opacity: 0;">Neighborhoods</text>
                            </g>
                        </g>
                    </svg>
                </div>
                <div id="lineChart" class="text-center">
                    <svg width="100%" height="100%" class="chart linechart time">
                        <g class="linechart-container">
                            <g class="trend-select"></g>
                            <g class="trend-highlight"></g>
                            <g class="trend-mean"></g>
                            <g class="x axis"></g>
                            <g class="y axis"></g>
                        </g>
                    </svg>
                </div>
                <div class="meta-subtitle text-center"></div>
            </div>
        </div>
        <div class="row datatable-container">
            <div class="col-md-5">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="text-center">Voting Precinct</th>
                      <th class="text-right"></th>
                      <th class="text-right"></th>
                      <th class="text-right"></th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="stats stats-weighted">
                    <div class="row text-center">
                        <div class="col-md-5 col-md-offset-0 col-xs-4 col-xs-offset-1">
                            <h3 class="stats-weighted-mean-county">N/A</h3>
                            <span class="header">Lexington</span>
                            <br>
                            <span class="footer">Weighted Avg</span>
                        </div>
                        <div class="col-md-5 col-md-offset-0 col-xs-4 col-xs-offset-2">
                            <h3 class="stats-selected stats-weighted-mean-selected">N/A</h3>
                            <span class="header">Selected</span>
                            <br>
                            <span class="footer">Weighted Avg</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row meta-container">
            <div class="col-md-5">
                <div class="well meta-joyride">
                    <h4>Why This is Important</h4>
                    <div class='meta-important'></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4>About the Data</h4>
                    <div class='meta-about'></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h4>Additional Resources</h4>
                    <div class='meta-resources'></div>
                </div>
            </div>
        </div>
        <div class="row">
            <footer class="text-center page-footer">
                <p class="text-muted">
                    <img src="images/footer-logos.png" width="200" alt="City and County Seals">
                    Created by <a href="http://codeforamerica.org/">Code for America</a> and <a href="http://www.lexingtonky.gov/index.aspx">Lexington-Fayette Urban County Government</a>
                    &bull; Source code on <a href="https://github.com/codeforamerica/lexington-qold">Github</a>
                </p>
            </footer>
        </div>
    </div>

    <!-- BEGIN: Underscore Template Definition. -->
    <script type="text/template" class="template">
        <tr data-id="<%- rc.id %>" <% if (rc.value) { %>data-value="<%- rc.value%>"<% } %> class="metric-hover">
            <%
                var m = $("#metric").val();
            %>
            <td class="text-center"><%- rc.id %></td>
            <td class="text-right datatable-value">
                <% if (rc.value) { %>
                    <%= dataPretty(rc.value, m) %>
                <% } %>
            </td>
            <td class="text-left">
                <% if (rc.accuracy) { %>
                    <span class="text-accuracy">&plusmn;<%- dataPretty(rc.accuracy, m) %></span>
                <% } %>
            </td>
            <td class="text-right datatable-raw">
                <% if (rc.raw) { %>
                    <%= dataPretty(rc.raw, rc.rawM) %>
                <% } %>
            </td>
            <td class="text-left">
                <% if (rc.rawaccuracy) { %>
                    <span class="text-accuracy">&plusmn;<%= dataPretty(rc.rawaccuracy, rc.rawM) %></span>
                <% } %>
            </td>
        </tr>
    </script>
    <!-- END: Underscore Template Definition. -->

    <!-- scripts at the bottom yo -->
    <script src="js/main.js?foo=68026"></script>

    <!--   Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47565520-5', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>
