{% extends 'layout.html' %}
{% block stylesheet %}    <link rel="stylesheet" href="css/main.css?foo={{ cachebuster }}">{% endblock %}
{% block header %}{% parent %}{% endblock %}
{% block content %}
    <div class="container container-content">
        <div class="row row-vis">
            <div class="col-md-8 map-container">
                <select id="metric" name="metric" class="form-control input-lg chosen-select" aria-label="variable selection"></select>
                <div id="map"></div>
                <div class="form mapsearch">
                    <input id="searchbox" name="searchbox" type="text" class="typeahead form-control" placeholder="search map">
                    <div class="text-right">
                        <label for="searchbox" class="sr-only">search the map</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-6">
                        <div class="yearDisplay temporal time">
                            <button type="button" class="btn btn-primary btn-looper pull-left">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <div class="slider"></div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xs-6 text-right">
                      <div class="btn-group datatoggle" role="group" aria-label="...">
                          <button type="button" class="btn btn-default btn-sm select-clear">Clear Selected</button>
                          <button type="button" class="btn btn-default btn-sm report-launch disabled">Report</button>
                      </div>
                        <!-- Geography dropdowns -->
                        <div class="btn-group datatoggle" role="group" aria-label="...">
                            {% for geography_group, geography_items in custom_geography %}
                            <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ geography_group }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for geography_name, contents in geography_items %}
                              <li><a href="javascript:void(0)" onclick="selectSetGeography(customGeography['{{ geography_group }}']['{{ geography_name }}'])">{{ geography_name }}</a></li>
                                {% endfor %}
                            </ul>
                          </div>
                            {% endfor %}
                        </div>
                        <div>
                            *<a href="javascript:void(0)" tabindex="0" class="text-muted meta-definition" data-toggle="popover" data-content="Neighborhood Profile Areas (NPA) are based on Census block group geographies, which do not directly align with more familiar boundaries, including those for the city, towns, and council and commission districts.  These pre-defined groupings of NPAs are close approximations of the larger geographies, however, they may include small parts that are outside of the desired areas.">Approximate</a>
                        </div>
                        <!-- End Geography dropdowns -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 map-aside">
                <div class="meta-subtitle text-center"></div>
                <div class="stats">
                    <div class="row text-center">
                        <div class="col-md-6 col-xs-6 stat-box stat-box-neighborhood"></div>
                        <div class="col-md-6 col-xs-6 stat-box stat-box-county"></div>
                    </div>
                </div>
                <div class="text-center chartLegend">
                    <img src="images/legend-median.svg" style="height: 8px;" alt="median legend"> Median
                    <span class="median"></span>
                </div>
                <div id="barChart">
                    <svg width="100%" height="100%" class="chart barchart">
                        <g class="barchart-container">
                            <g class="bar-container"></g>
                            <g class="value-mean">
                                <line></line>
                                <text class="mean-text"></text>
                            </g>
                            <g class="value-hover"></g>
                            <g class="value-select"></g>
                            <g class="x axis"></g>
                            <g class="y axis">
                              <text transform="rotate(-90)" y="0" dy="-0.5em" dx="-2.5em" style="text-anchor: end; font-size: 12px;">Neighborhoods</text>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="lineChart-container">
                    <canvas id="lineChart" class="temporal"></canvas>
                    <div class="chartLegend lineChartLegend temporal text-center"></div>
                </div>
                <div class="text-center social-links">
                    <p>
                        <a href="javascript:void(0)" data-url="https://twitter.com/intent/tweet?tw_p=tweetbutton&url="><i class="icon-twitter-bird" title="Share on Twitter"></i></a>
                        <a href="javascript:void(0)" data-url="http://www.facebook.com/sharer.php?u="><i class="icon-facebook-rect" title="Share on Facebook"></i></a>
                        <a href="javascript:void(0)" data-url="https://plus.google.com/share?url="><i class="icon-googleplus-rect" title="Share on Google+"></i></a>
                        <a href="javascript:void(0)" data-url="https://www.linkedin.com/shareArticle?mini=true&title=Quality%20of%20Life%20Dashboard&summary=&source=&url="><i class="icon-linkedin-rect" title="Share on Linkedin"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 datatable-container"></div>
        </div>
        <div class="row meta-container">
            <div class="col-md-8">
                <div class="well meta-joyride">
                    <h4>Why This is Important</h4>
                    <div class='meta-important'></div>
                </div>
                <div class="well">
                    <h4>Additional Resources</h4>
                    <div class='meta-resources'></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4>About the Data</h4>
                    <div class='meta-about'></div>
                </div>
            </div>
        </div>
        <div class="row">
            <footer class="text-center page-footer">
                <p>
                    <img src="images/seals.png" width="177" height="36" alt="City and County Seals">
                </p>
                <p class="text-muted">
                    Created by <a href="http://charmeck.org/mecklenburg/county/Pages/Default.aspx">Mecklenburg County</a>, the <a href="http://charmeck.org/city/charlotte/Pages/default.aspx">City of Charlotte</a>, and <a href="http://www.uncc.edu/">UNCC</a>
                    <br>Source code on <a href="https://github.com/tobinbradley/Mecklenburg-County-Quality-of-Life-Dashboard">Github</a>
                </p>
            </footer>
        </div>
    </div>

    <!-- BEGIN: Underscore Template Definitions -->
    <script type="text/template" class="template-table">
        <% if (rc.theSelected.length > 0) {
            var m = model.metricId;
            %>
            <div class="div-scroll">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <a href="javascript:void(0)" tabindex="0" class="meta-definition" data-toggle="popover" data-content="<%= neighborhoodDefinition %>">
                                    <%= neighborhoodDescriptor %>
                                </a>
                            </th>
                            <th class="text-right">Value</th>
                            <th class="text-left"></th>
                            <th class="text-center">
                                <% if (metricConfig[model.metricId].accuracy) { %><a href="javascript:void(0)" tabindex="0" class="meta-definition" data-toggle="popover" data-content="Margin of error (MOE) is an indicator of reliability for data that comes from the American Community Survey (ACS). The ACS is mailed to only a small percentage of households, and because not all households are surveyed, the data are only estimates.">
                            MOE<% } %></th>
                    <th class="text-center"><% if (rc.keys.length > 2) { %>Change<br><%= rc.keys[1].replace('y_', '') + "-" + rc.keys[rc.keys.length - 1].replace('y_', '') %><% } %></th>
                    <th class="text-right"><% if (metricConfig[m].raw_label) { %>Number<% } %></th>
                    <th class="text-left"></th>
                    <th class="text-center"><% if (rc.keys.length > 2 && metricConfig[m].raw_label) { %>Change<br><%= rc.keys[1].replace('y_', '') + "-" + rc.keys[rc.keys.length - 1].replace('y_', '') %><% } %></th>
                  </tr>
                </thead>
                <tbody>
                <%
                _.each(rc.theSelected, function (d, i) { %>
                    <tr data-id="<%- d.id %>" <% if (d[rc.keys[model.year + 1]]) { %>data-value="<%- d[rc.keys[model.year + 1]] %>"<% } %> class="metric-hover">
                        <td class="text-center"><%- d.id %></td>
                        <td class="text-right datatable-value  td-border-left"><%= dataPretty(d[rc.keys[model.year + 1]], m) %></td>
                        <td class="text-left"><%= nullCheck(metricConfig[m].label) %></td>
                        <td class="text-center"><% if (metricConfig[m].accuracy) { %>&#177;<%= dataPretty(rc.theAccuracy[i][rc.keys[model.year + 1]], m) %><% } %></td>
                        <td class="text-center"><% if (rc.keys.length > 2) { %><%= getTrend(d[rc.keys[rc.keys.length - 1]], d[rc.keys[1]]) %><% } %></td>
                        <td class="text-right table-raw-boundary"><% if (metricConfig[m].raw_label) { %><%= dataPretty(rc.theRaw[i][rc.keys[model.year + 1]], null) %><% } %></td>
                        <td class="text-left"><%= nullCheck(metricConfig[m].raw_label) %></td>
                        <td class="text-center"><% if (rc.keys.length > 2 && metricConfig[m].raw_label) { %><%= getTrend(rc.theRaw[i][rc.keys[rc.keys.length - 1]], rc.theRaw[i][rc.keys[1]]) %><% } %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <p>
            <form action="http://mcmap.org/utilities/table2csv.php" method ="post" class="text-right">
                <input type="hidden" name="csv_text" id="csv_text">
                <input type="hidden" name="filename" id="filename">
                <button type="submit" class="btn btn-default btn-sm table2CSV">Download as CSV</button>
            </form>
        </p>
        <% } %>
    </script>

    <script type="text/template" class="template-statbox">
        <span class="header"><%= rc.topText %></span>
        <h3 class="stat-mean"><%= rc.mainNumber %></h3>
        <% if (rc.mainUnits) { %>
            <span class="stat-units"><%= rc.mainUnits %></span>
        <% } %>
        <% if (rc.rawTotal) { %>
            <span class="stat-total">
                <%= rc.rawTotal %>
                <% if (rc.rawUnits) { %><%= rc.rawUnits %><% } %>
            </span>
        <% } %>
    </script>
    <!-- END: Underscore Template Definition. -->

    <!-- Begin jQuery Tourbus -->
    <ol class='tourbus-legs' id='dashboard-tour'>
      <li data-el='#metric' data-orientation='bottom' data-width='300'>
        <h3>Variables</h3>
        <p>Use this control to select the <strong>Variable</strong> you’re interested in.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='#map' data-orientation='bottom' data-width='300'>
        <h3>Map</h3>
        <p>The <strong>Map</strong> is fully interactive - you can pan, zoom, and select neighborhoods by mouse or touch.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='#searchbox' data-orientation='bottom' data-width='300'>
        <h3>Search</h3>
        <p>The <strong>Search</strong> control lets you search for almost anything. Type in a neighborhood number, the first part of an address, or a place name, and select a match using your mouse, keyboard, or by touch.</p>
        <p>Ex: Try typing <strong>700 n</strong></p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='.time-year' data-orientation='top' data-width='300'>
        <h3>Year</h3>
        <p>The <strong>Year</strong> controls let you control the year being shown on the map and in the <strong>Bar Chart</strong>.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='.select-clear' data-orientation='top' data-width='300'>
        <h3>Data Controls</h3>
        <p>Use these buttons to toggle the base map, clear any selected neighborhoods, or create a report if you have one or more neighborhoods selected.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='.stat-box-neighborhood' data-orientation='bottom' data-width='300'>
        <h3>Variable Value</h3>
        <p>The <strong>Value</strong> of each variable is shown here – for the area you’ve selected on the map, and for the county as a whole.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='#barChart' data-orientation='bottom' data-width='300'>
        <h3>Charts</h3>
        <p>The <strong>Bar Chart</strong> acts as a legend for the map and also shows the density of the data - the taller the bar, the more neighborhoods are in that range. The dashed line represents the median value.</p>
        <p>The <strong>Line Chart</strong>, if available, shows the trend of the variable over time.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm btn-sm tourbus-stop">Finished</button>
          <button type="button" class="btn btn-default btn-sm btn-sm tourbus-next">Next</button>
        </div>
      </li>
      <li data-el='.meta-joyride' data-orientation='top' data-width='300'>
        <h3>Variable Information</h3>
        <p>Here you’ll find more information about each variable, including what it means and how you can use it, where the data come from, and additional resources for you to learn more or take action.</p>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm tourbus-prev">Previous</button>
          <button type="button" class="btn btn-default btn-sm tourbus-stop">Finished</button>
        </div>
      </li>
    </ol>
    <!-- End jQuery Tourbus -->

{% endblock %}
{% block scripts %}
<!-- scripts at the bottom yo -->
<script src="js/main.js?foo={{ cachebuster }}"></script>
{% endblock %}
